@import "_colors.scss";
@import "_mixins.scss";

body {
  background-color: var(--base02);
  color: var(--base05);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Jetbrains Mono';
  line-height: 1em;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

a {
  color: var(--base0D);
  text-decoration: underline;
}

div.content {
  align-items: center;
  background-color: var(--base00);
  display: flex;
  flex: 1;
  flex-direction: column;
}

div.content article {
  @include section-width;
}

div.content section {
  @include section-width;
  margin: 3rem 0rem;
}

.alert {
  border-left: 4px solid var(--alert-color);
  background-color: var(--base01);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem;
}

.alert-header {
  align-items: center;
  color: var(--alert-color);
  display: flex;
  margin-bottom: 1em;
}

.alert-type {
  font-weight: bold;
  margin-left: 0.5em;
}

.alert.note {
  --alert-color: var(--base0D);
}

.alert.tip {
  --alert-color: var(--base0B);
}

.alert.important {
  --alert-color: var(--base0E);
}

.alert.warning {
  --alert-color: var(--base0A);
}

.alert.caution {
  --alert-color: var(--base08);
}

