header {
  align-items: center;
  color: var(--default);
  display: flex;
  min-height: 2rem;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

div.header-padding {
  height: 1rem;
  position: sticky;
  z-index: 999;
}

div.header-padding.top {
  top: 0;
}

div.header-padding.bottom {
  top: 3rem;
}

header a {
  color: inherit;
  display: flex;
  text-decoration: none;
}

header > a {
  font-size: 2rem;
  font-weight: 700;
}

header > nav {
  align-items: center;
  display: flex;
  gap: 2rem;
}

button#mode-icon-container {
  background: none;
  border: none;
  display: flex;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

div.stripe {
  height: 0.5rem;
  position: sticky;
  top: 4rem;
  z-index: 1000;
}
