---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";

const posts = await getCollection("blog");
const recentPosts = getSortedPosts(posts);
---

<Layout>
  <Header />

  <main>
    <section class="my-8 space-y-4">
      <h1 class="inline-block text-3xl font-bold">Hi, I'm Eric!</h1>
      <p>
        I like to tinker and build things. Currently at a pretty interesting
        junction in life. You should hire me.
      </p>
    </section>
    <hr class="border-skin-line" />
    {
      recentPosts.length > 0 && (
        <section class="my-8 space-y-4">
          <h2 class="text-xl font-semibold">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/blog/${slug}/`}
                    frontmatter={data}
                    sectionHeading={false}
                  />
                )
            )}
          </ul>
          <LinkButton href="/blog">
            All Posts
            <svg xmlns="http://www.w3.org/2000/svg">
              <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
            </svg>
          </LinkButton>
        </section>
      )
    }
  </main>

  <Footer />
</Layout>
