---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import getSortedEntries from "@utils/getSortedEntries";

const blogPosts = (await getCollection("blog")) || [];
const builds = (await getCollection("builds")) || [];

const sortedActivity = getSortedEntries<CollectionEntry<"blog" | "builds">>([
  ...blogPosts,
  ...builds,
]);
---

<Layout>
  <Header />

  <main id="main-content">
    <section>
      <h1>Hi, I'm Eric!</h1>
      <p>
        I like to tinker and build things. Currently at a pretty interesting
        junction in life. You should hire me.
      </p>
    </section>
    <hr class="border-skin-line" />
    {
      sortedActivity.length > 0 && (
        <section>
          <h2>Recent Activity</h2>
          <ul class="space-y-4">
            {sortedActivity.map(
              (entry, index) =>
                index < 4 && <Card entry={entry} activityTypeLabels />
            )}
          </ul>
        </section>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  section {
    @apply my-8 space-y-4;
  }
  h1 {
    @apply inline-block text-3xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
</style>
