---
import { SITE } from "@config";
import Socials from "./Socials.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <hr />
  <div class="footer-wrapper">
    <div class="copyright-wrapper">
      <span>&#169; {currentYear} {SITE.title}</span>
    </div>
    <Socials centered />
  </div>
</footer>

<style>
  footer {
    @apply mt-auto w-full;
  }
  hr {
    @apply border-skin-line;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row sm:py-4;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
</style>
