<div class="header-padding top"></div>
<header>
    <a href={{ config.base_url }}>
        {{ config.title }}
    </a>
    <nav>
        <a href="/blog">blog</a>
        <a href="/builds">builds</a>
        <a href="/bio">bio</a>
        <button id="mode-icon-container" onclick="cycleSelectedMode()">
            {% include "icons/moon.html" %}
            {% include "icons/sun-moon.html" %}
            {% include "icons/sun.html" %}
        </button>
    </nav>
</header>
<div class="header-padding bottom"></div>
<div class="stripe base0C"></div>
<div class="stripe base0E"></div>
<div class="stripe base0D"></div>
<div class="stripe base0A"></div>
<div class="stripe base0B"></div>
<div class="stripe base08"></div>
