{% extends "base.html" %}

{% block content %}
<section>
  <h1>Hi! I'm Eric (Barch).</h1>
  <p>
    I like to build things, usually software. I'm a full stack software engineer at
    <a href="https://currentsoftware.app">Current Software</a>
    (yes, I’m currently at Current).</p>
  <p>This site is where I keep track of my thoughts and projects.</p>
  <p>Here's my last blog post:</p>
  <p>Placeholder</p>
  <p>Here's the last project I worked on:</p>
  <p>Placeholder</p>
</section>
{% endblock content %}
