---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedEntries: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedEntries } = Astro.props;
---

<Layout title={`blog | ${SITE.title}`}>
  <Header activeNav="blog" />

  <Main pageTitle="blog">
    <ul class="space-y-4">
      {paginatedEntries.map(entry => <Card entry={entry} />)}
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/blog${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`}
    nextUrl={`/blog/${currentPage + 1}`}
  />

  <Footer />
</Layout>
