---
interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  pageDesc?: string;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<main id="main-content">
  <section>
    <h1>{props.pageTitle}</h1>
    <p>{props.pageDesc}</p>
  </section>
  <slot />
</main>

<style>
  section {
    @apply my-8 space-y-4;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply italic;
  }
</style>
