---
interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  pageDesc?: string;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<main id="main-content">
  <section class="my-8 space-y-4">
    <h1 class="text-2xl font-semibold">{props.pageTitle}</h1>
    <p class="italic">{props.pageDesc}</p>
  </section>
  <slot />
</main>
